th, td {
	padding: 3px 10px;
	text-align: left;
	border: solid 1px black;
}

.root_row {
	font-weight: bolder;
}

.highlight {
	z-index: 1;
}

tr.highlight, .node.highlight {
	background-color: #bcebc1;
}

.node.warn.highlight {
	background-color: #f0a9c8;
}

.node.warn {
	background-color: #e53c3c;
	color: yellow;
}

.name-head {
	text-align: left;
}

.b {
	font-weight: bolder;
}


/* 倒金字塔图相关样式 */

.pyramid {
	display: inline-block;
	float: left;
	position: relative;
	margin-right: 20px;
	margin-bottom: 50px;
}

.node {
	display: inline-block;
	border: solid black 1px;
	background-color: yellow;
	position: absolute;
	height: 29px;
	padding-top: 10px;
}

.num {
	display: inline-block;
	width: 39px;
	height: 29px;
	position: absolute;
	top: 0;
	text-align: center;
	padding-top: 10px;
	border: 1px solid black;
}

.left-num {
	float: left;
	display: inline-block;
	width: 38px;
	height: 30px;
	text-align: center;
}

.right-num {
	float: right;
	display: inline-block;
	width: 40px;
	height: 30px;
	text-align: center;
}