<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>测试左右值树型菜单</title>

	<script src="jquery-1.8.0.min.js" type="application/javascript"></script>
	<style>
		th, td {
			padding: 3px 10px;
			text-align: left;
			border: solid 1px black;
		}

		.name-head {
			text-align: left;
		}

		.b {
			font-weight: bolder;
		}
	</style>
</head>
<body>
	<form id="insertPanel">
		新增：
		<label for="name">节点名称：</label><input id="name" name="name" type="text"/>
		<label for="pid">父节点ID：</label><input id="pid" name="pid" type="text"/>
		<input value="提交" type="button" onclick="insert()"/>
	</form>

	<form id="movePanel">
		移动：
		<label for="id">节点ID：</label><input id="id" name="id" type="text"/>
		<label for="targetPid">目标父节点ID：</label><input id="targetPid" name="targetPid" type="text"/>
		<input value="提交" type="button" onclick="move()"/>
	</form>

	<hr/>

	<div>
		<input value="刷新" type="button" onclick="loadTree()"/>
		<a target="_blank" href="./swagger-ui.html#/sys-menu-rest-controller">SwaggerAPI页面</a>
	</div>
	<div id="treePanel" style="margin-top: 5px">
		<table style='border-collapse:collapse'>
			<thead>
			<tr>
				<th>ID</th>
				<th>父ID</th>
				<th>根ID</th>
				<th style='text-align: right'>左值</th>
				<th class='name-head'>节点名称</th>
				<th>右值</th>
				<th>子节点数</th>
				<th>层级</th>
				<th>类型</th>
				<th>操作</th>
				<th>错误检测</th>
			</tr>
			</thead>
			<tbody id="treeTableBody">
			</tbody>
		</table>
	</div>

	<script>
		function loadTree() {
			$.ajax({
				url: "./api/v1/sys-menu/tree",
				success: function (tree) {
					let html = "";
					html += buildTreeHtml(tree, "");
					$("#treeTableBody").html(html).hide().fadeIn(400);
				}
			});
		}

		function buildTreeHtml(tree, s, parent) {
			if (!tree || tree.length === 0) {
				return "";
			}

			let html = "";
			for (let i = 0; i < tree.length; i++) {
				let menu = tree[i];
				setWarn(menu, parent); // 设置警告信息（数据正确性检测）
				html += "<tr>" +
						"	<td>" + menu.id + "</td>" +
						"	<td>" + menu.pid + "</td>" +
						"	<td>" + menu.rootId + "</td>" +
						"	<td class='b' style='text-align: right'>" + menu.l + "</td>" +
						"	<td>" + s + menu.name + "</td>" +
						"	<td class='b'>" + menu.r + "</td>" +
						"	<td>" + menu.childSize + "</td>" +
						"	<td>" + menu.level + "</td>" +
						"	<td>" + (menu.root ? "根节点" : "") + (menu.leaf ? (menu.root ? "、" : "") + "叶节点" : "") + "</td>" +
						"	<td>" +
						"		<a href=\"javascript:del('" + menu.id + "')\">删除</a>" +
						"	</td>" +
						"	<td style='color: red'>" + menu.warn + "</td>" +
						"</tr>";
				html += buildTreeHtml(menu.childList, s + "—&nbsp;", menu);
			}
			return html;
		}

		function insert() {
			let name = $("#name").val();
			let pid = $("#pid").val();

			if (!name) {
				alert("节点名称必填");
				$("#name").focus();
				return;
			}

			$.ajax({
				url: "./api/v1/sys-menu/insert",
				type: "post",
				data: JSON.stringify({
					"name": name,
					"pid": pid || ""
				}),
				contentType: "application/json",
				success: function (data) {
					alert("新增成功");
					loadTree();
				},
				error: function (XMLHttpRequest, textStatus, errorThrown) {
					alert("新增失败：[" + textStatus + "]" + XMLHttpRequest.responseText);
				}
			});
		}

		function move() {
			let id = $("#id").val();
			let targetPid = $("#targetPid").val();

			if (!id) {
				alert("节点ID必填");
				$("#id").focus();
				return;
			}

			$.ajax({
				url: "./api/v1/sys-menu/move",
				type: "post",
				data: JSON.stringify({
					"id": id,
					"targetPid": targetPid || ""
				}),
				contentType: "application/json",
				success: function (data) {
					alert("移动成功");
					loadTree();
				},
				error: function (XMLHttpRequest, textStatus, errorThrown) {
					alert("移动失败：[" + textStatus + "]" + XMLHttpRequest.responseText);
				}
			});
		}

		function del(id) {
			$.ajax({
				url: "./api/v1/sys-menu/delete?id=" + id,
				type: "post",
				success: function (data) {
					alert("删除成功");
					loadTree();
				},
				error: function (XMLHttpRequest, textStatus, errorThrown) {
					alert("删除失败：[" + textStatus + "]" + XMLHttpRequest.responseText);
				}
			});
		}

		function setWarn(menu, parent) {
			menu.warn = menu.warn || "";
			if (parent) {
				if (menu.rootId !== parent.rootId) menu.warn += "与父节点不同根；";
				if (menu.pid !== parent.id) menu.warn += "pid != parent.id；";
				if (menu.level !== parent.level + 1) menu.warn += "level != parent.level + 1；";
				if (menu.l <= parent.l) menu.warn += "left(" + menu.l + ") <= parent.left(" + parent.l + ")；";
				if (menu.l >= parent.r) menu.warn += "left(" + menu.l + ") >= parent.right(" + parent.r + ")；";
				if (menu.r <= parent.l) menu.warn += "right(" + menu.r + ") <= parent.left(" + parent.l + ")；";
				if (menu.r >= parent.r) menu.warn += "right(" + menu.r + ") >= parent.right(" + parent.r + ")；";
			}
			if (menu.l <= 0) menu.warn += "left <= 0；";
			if (menu.l >= menu.r) menu.warn += "left >= right；"
			if (menu.childList && menu.childList.length > 0) {
				// 判断左右值与所有子节点的左右值是否符合
				let minLeftFromChilds = getMinLeftFromChilds(menu.childList, menu.r);
				if (menu.l !== minLeftFromChilds - 1) {
					menu.warn += "left太小（应为子节点最小left - 1 = " + (minLeftFromChilds - 1) + "）；";
				}

				let maxRightFromChjilds = getMaxRightFromChilds(menu.childList, menu.l);
				if (menu.r !== maxRightFromChjilds + 1) {
					menu.warn += "right太大（应为子节点最大right + 1 = " + (maxRightFromChjilds + 1) + "）；";
				}
			} else {
				if (menu.l !== menu.r - 1) {
					menu.warn += "left != right - 1；";
				}
			}
		}

		function getMinLeftFromChilds(childList, minLeft) {
			for (let i = 0; i < childList.length; i++) {
				let menu = childList[i];
				if (minLeft > menu.l) {
					minLeft = menu.l;
				}
				let minLeftFromChilds = getMinLeftFromChilds(menu.childList, minLeft);
				if (minLeft > minLeftFromChilds) {
					minLeft = minLeftFromChilds;
				}
			}
			return minLeft;
		}

		function getMaxRightFromChilds(childList, maxRight) {
			for (let i = 0; i < childList.length; i++) {
				let menu = childList[i];
				if (maxRight < menu.r) {
					maxRight = menu.r;
				}
				let maxRightFromChilds = getMaxRightFromChilds(menu.childList, maxRight);
				if (maxRight < maxRightFromChilds) {
					maxRight = maxRightFromChilds;
				}
			}
			return maxRight;
		}

		loadTree();
	</script>
</body>
</html>